<section class="principios-seccion">
  <div class="principios-banner">
    <h2>PRINCIPIOS FUNDAMENTALES</h2>
    <div class="linea"></div>
  </div>
  <div class="principios-intro">
    <p>
      Los siete Principios Fundamentales fueron proclamados en Viena en 1965,
      los cuales crean un vínculo de unión entre las Sociedades Nacionales de la
      Cruz Roja y de la Media Luna Roja, el Comité Internacional de la Cruz Roja
      y la Federación Internacional de Sociedades de la Cruz Roja y de la Media
      Luna Roja. Los Principios Fundamentales garantizan la continuidad del
      Movimiento de la Cruz Roja y de la Media Luna Roja y su labor humanitaria.
    </p>
    <img src="/public/inundaciones.jpg" alt="Introducción" />
  </div>

  <div class="principio-item">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      id="Capa_1"
      x="0px"
      y="0px"
      width="90px"
      height="90px"
      viewBox="0 0 300 300"
      xml:space="preserve"
      ><path
        fill-rule="evenodd"
        clip-rule="evenodd"
        fill="#E94C32"
        d="M274.999,150.375C275.307,217.918,218.496,274.89,150.756,275  c-67.75,0.108-126.345-56.495-125.752-123.527C25.667,76.084,85.139,24.121,150.306,25.011  C218.877,25.967,274.677,80.791,274.999,150.375z M92.343,161.386c4.38,0,6.97-0.176,9.521,0.034  c8.982,0.722,14.565-1.161,14.406-12.362c-0.169-11.653-7.469-10.126-14.616-10.141c-6.685-0.01-13.372,0.14-20.054-0.083  c-6.492-0.207-8.917,2.807-9.487,9.184C70.345,167.898,85.193,159.726,92.343,161.386z M102.289,212.242  c9.649-5.999,15.19-15.177,23.057-21.715c7.09-5.914,6.198-10.333,0.353-16.583c-6.736-7.219-11.01-4.784-16.21,1.542  c-4.602,5.611-10.146,10.429-15.192,15.687c-2.785,2.911-7.159,5.893-3.497,10.455C93.951,205.558,98.237,208.574,102.289,212.242z   M131.111,116.251c-6.325-6.73-13.657-13.887-20.208-21.714c-6.853-8.191-11.514-4.304-17.603,1.16  c-7.629,6.842-2.288,10.428,2.234,14.829c5.543,5.427,10.786,11.177,16.565,16.343c2.328,2.084,4.964,6.667,8.965,2.91  C124.749,126.322,129.404,123.441,131.111,116.251z M211.099,102.074c-0.509-5.326-5.262-7.436-8.32-10.79  c-3.136-3.428-6.553-2.619-9.481,0.384c-6.897,7.052-13.718,14.174-20.479,21.354c-2.783,2.962-3.788,6.242-0.56,9.62  c3.166,3.323,5.589,7.865,10.86,8.108C186.003,130.877,210.961,104.86,211.099,102.074z M160.582,209.533  c0-5.092-0.208-8.714,0.041-12.318c0.537-7.822-1.267-12.893-10.726-12.738c-9.435,0.145-10.961,5.576-10.803,13.155  c0.126,7.227,0,14.458-0.072,21.684c-0.064,6.581,3.459,8.868,9.645,9.256C166.468,229.709,158.699,216.056,160.582,209.533z   M206.921,139.178c0-0.122,0-0.247,0-0.374c-3.599,0-7.222,0.213-10.814-0.038c-9.046-0.639-11.337,4.119-11.353,12.343  c-0.026,9.073,5.147,9.875,12.05,9.57c8.22-0.35,16.49-0.129,24.705-0.664c5.874-0.387,7.368-4.706,7.235-9.929  c-0.116-4.848-0.5-9.92-6.402-10.758C217.299,138.614,212.078,139.178,206.921,139.178z M161.309,93.498  c-3.589-8.064,6.822-23.882-12.605-21.87c-14.907,1.562-9.37,14.076-8.763,21.91c0.612,8.075-6.08,22.258,10.845,21.969  C168.266,115.196,157.109,100.633,161.309,93.498z M210.864,196.604c-6.833-7.235-14.222-15.084-21.668-22.896  c-4.032-4.229-8.634-6.518-13.423-1.494c-4.414,4.612-8.506,9.839-2.331,16.131c6.201,6.313,12.463,12.567,18.879,18.654  c2.652,2.504,5.709,4.957,9.543,1.631C205.354,205.603,209.521,203.122,210.864,196.604z"
      ></path><path
        fill-rule="evenodd"
        clip-rule="evenodd"
        fill="#FFFFFF"
        d="M164.366,104.792c0,7.957-6.432,14.408-14.366,14.408l0,0  c-7.934,0-14.365-6.451-14.365-14.408v-22.45c0-7.957,6.432-14.408,14.365-14.408l0,0c7.934,0,14.366,6.451,14.366,14.408V104.792z"
      ></path><path
        fill-rule="evenodd"
        clip-rule="evenodd"
        fill="#FFFFFF"
        d="M164.366,218.046c0,7.957-6.432,14.408-14.366,14.408l0,0  c-7.934,0-14.365-6.451-14.365-14.408v-22.45c0-7.957,6.432-14.408,14.365-14.408l0,0c7.934,0,14.366,6.451,14.366,14.408V218.046z"
      ></path><path
        fill-rule="evenodd"
        clip-rule="evenodd"
        fill="#FFFFFF"
        d="M217.985,135.592c7.934,0,14.365,6.451,14.365,14.408l0,0  c0,7.957-6.432,14.408-14.365,14.408h-22.383c-7.934,0-14.366-6.451-14.366-14.408l0,0c0-7.957,6.432-14.408,14.366-14.408H217.985z  "
      ></path><path
        fill-rule="evenodd"
        clip-rule="evenodd"
        fill="#FFFFFF"
        d="M107.071,135.592c7.934,0,14.366,6.451,14.366,14.408l0,0  c0,7.957-6.432,14.408-14.366,14.408H84.688c-7.934,0-14.365-6.451-14.365-14.408l0,0c0-7.957,6.432-14.408,14.365-14.408H107.071z"
      ></path><path
        fill-rule="evenodd"
        clip-rule="evenodd"
        fill="#FFFFFF"
        d="M192.692,128.43c-5.558,5.679-14.654,5.765-20.316,0.19l0,0  c-5.662-5.574-5.747-14.696-0.189-20.375l15.678-16.021c5.557-5.679,14.652-5.765,20.314-0.19l0,0  c5.663,5.573,5.748,14.695,0.191,20.374L192.692,128.43z"
      ></path><path
        fill-rule="evenodd"
        clip-rule="evenodd"
        fill="#FFFFFF"
        d="M113.596,209.257c-5.558,5.679-14.654,5.765-20.315,0.19l0,0  c-5.662-5.574-5.747-14.696-0.19-20.375l15.679-16.021c5.557-5.679,14.652-5.765,20.314-0.191l0,0  c5.663,5.575,5.748,14.697,0.191,20.375L113.596,209.257z"
      ></path><path
        fill-rule="evenodd"
        clip-rule="evenodd"
        fill="#FFFFFF"
        d="M209.449,188.082c5.662,5.574,5.747,14.696,0.189,20.375l0,0  c-5.557,5.679-14.652,5.764-20.314,0.19l-15.975-15.726c-5.663-5.573-5.748-14.695-0.19-20.375l0,0  c5.557-5.679,14.652-5.764,20.315-0.19L209.449,188.082z"
      ></path><path
        fill-rule="evenodd"
        clip-rule="evenodd"
        fill="#FFFFFF"
        d="M128.955,108.819c5.662,5.573,5.747,14.695,0.189,20.375l0,0  c-5.557,5.679-14.652,5.765-20.314,0.191l-15.975-15.726c-5.663-5.574-5.748-14.696-0.19-20.375l0,0  c5.557-5.679,14.652-5.764,20.315-0.19L128.955,108.819z"
      ></path></svg
    >
    <h3>Humanidad</h3>
    <p>
      <strong>La Cruz Roja</strong>, nacida del deseo de prestar auxilio sin
      discriminación, a todos los heridos en el campo de batalla, se fundamenta
      en su capacidad internacional y nacional de prevenir y aliviar el
      sufrimiento humano dondequiera que se encuentre. Su propósito es proteger
      la vida y la salud y hacer respetar a la vida humana. Promueve la
      comprensión mutua, la amistad, la cooperación y una paz duradera entre los
      pueblos.
    </p>
  </div>

  <hr />

  <!-- PRINCIPIO 2 -->
  <div class="principio-item">
    <!-- SVG Imparcialidad -->
    <div class="principio-item">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        id="Capa_1"
        x="0px"
        y="0px"
        width="90px"
        height="90px"
        viewBox="0 0 300 300"
        xml:space="preserve"
        ><path
          fill-rule="evenodd"
          clip-rule="evenodd"
          fill="#8DBE3D"
          d="M147.461,25.024C85.321,26.216,23.835,75.801,25.017,152.977  C24.98,219.347,82.207,275.009,150.094,275c71.249,0,124.043-57.894,124.896-124.079C275.828,85.609,222.331,23.595,147.461,25.024z   M109.497,163.002H82.664c-7.163,0-12.969-5.821-12.969-13.002c0-3.902,1.723-7.394,4.438-9.777c0.527-0.632,1.182-1.13,2.012-1.45  c1.917-1.121,4.14-1.775,6.519-1.775h26.833c7.163,0,12.969,5.821,12.969,13.002S116.659,163.002,109.497,163.002z M161.89,205.98  c0.052,8.64-3.136,12.275-11.944,12.084c-8.646-0.187-12.139-3.881-12.038-12.396c0.229-18.808,0.069-37.622,0.069-56.427  c-0.034-17.247,0.151-34.494-0.122-51.724c-0.135-8.216,0.757-14.24,11.308-14.426c9.766-0.169,12.793,4.183,12.744,13.171  C161.727,132.834,161.67,169.411,161.89,205.98z M218.615,163.002h-26.833c-7.162,0-12.969-5.821-12.969-13.002  s5.807-13.002,12.969-13.002h26.833c7.162,0,12.968,5.821,12.968,13.002S225.777,163.002,218.615,163.002z"
        ></path></svg
      >
      <h3>Imparcialidad</h3>
      <p>
        No hace ninguna distinción de nacionalidad, raza, religión, condición
        social ni credo político. Se dedica únicamente a socorrer a los
        individuos en proporción con los sufrimientos, remediando sus
        necesidades y dando prioridad a las más urgentes.
      </p>
    </div>

    <hr />

    <!-- PRINCIPIO 3 -->
    <div class="principio-item">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        id="Capa_1"
        x="0px"
        y="0px"
        width="90px"
        height="90px"
        viewBox="0 0 300 300"
        xml:space="preserve"
        ><path
          fill-rule="evenodd"
          clip-rule="evenodd"
          fill="#033F57"
          d="M274.985,148.258c-1.017-68.26-57.508-123.832-125.317-123.253  C79.623,25.584,24.877,80.513,24.999,150.074c0.122,69.341,55.95,125.2,124.866,124.925  C219.414,274.716,276.014,217.387,274.985,148.258z M204.306,183.397H95.692c-7.428,0-13.45-6.037-13.45-13.483  c0-7.447,6.022-13.483,13.45-13.483h108.613c7.428,0,13.45,6.036,13.45,13.483C217.756,177.361,211.733,183.397,204.306,183.397z   M204.609,143.286H95.996c-7.429,0-13.451-6.037-13.451-13.483c0-7.447,6.022-13.483,13.451-13.483h108.613  c7.428,0,13.45,6.037,13.45,13.483C218.06,137.249,212.037,143.286,204.609,143.286z"
        ></path></svg
      >
      <h3>Neutralidad</h3>
      <p>
        Con el fin de conservar la confianza de todos, el Movimiento se abstiene
        de tomar parte en las hostilidades y, en todo tiempo, en las
        controversias de orden político, racial, religioso o ideológico.
      </p>
    </div>

    <hr />

    <!-- PRINCIPIO 4 -->
    <div class="principio-item">
      <!-- SVG Independencia -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        id="Capa_1"
        x="0px"
        y="0px"
        width="90px"
        height="90px"
        viewBox="0 0 300 300"
        xml:space="preserve"
        ><path
          fill-rule="evenodd"
          clip-rule="evenodd"
          fill="#068BCA"
          d="M149.25,269.212C79.107,269.11,24.902,213.773,25,142.35  C25.08,74.339,81.016,19.115,149.741,19.212c69.39,0.102,125.427,55.798,125.258,124.493  C274.829,214.466,219.865,269.312,149.25,269.212z M163.875,142.026c0.046,0,0.103,0,0.163,0c0,18.855,0.027,37.703-0.016,56.546  c-0.018,7.213-0.026,13.044,10.444,13.112c10.253,0.082,12.395-4.407,12.343-13.143c-0.231-36.142-0.311-72.275-0.151-108.404  c0.041-8.88-2.248-13.348-12.402-13.156c-10.19,0.175-10.534,5.744-10.448,13.219C164.004,107.48,163.875,124.761,163.875,142.026z   M116.91,133.025c-1.272,0-6.509,0.021-11.737,0c-6.106-0.018-8.459,3.503-8.026,9.059c0.393,4.875-1.746,12.119,5.557,12.762  c11.417,1,22.98,0.408,34.47,0.193c3.821-0.069,5.315-3.217,5.315-6.576C142.515,135.112,146.364,131.696,116.91,133.025z"
        ></path><path
          fill-rule="evenodd"
          clip-rule="evenodd"
          fill="#FFFFFF"
          d="M146.774,145.694c0,8.075-6.528,14.622-14.583,14.622H109.31  c-8.054,0-14.582-6.547-14.582-14.622l0,0c0-8.075,6.528-14.621,14.582-14.621h22.882  C140.246,131.073,146.774,137.619,146.774,145.694L146.774,145.694z"
        ></path><path
          fill-rule="evenodd"
          clip-rule="evenodd"
          fill="#FFFFFF"
          d="M188.951,200.353c0,7.702-6.228,13.945-13.909,13.945l0,0  c-7.682,0-13.91-6.243-13.91-13.945V89.685c0-7.703,6.228-13.946,13.91-13.946l0,0c7.682,0,13.909,6.244,13.909,13.946V200.353z"
        ></path></svg
      >
      <h3>Independencia</h3>
      <p>
        El Movimiento es independiente. Auxiliares de los poderes públicos en
        sus actividades humanitarias y sometidas a las leyes que rigen los
        países respectivos, las Sociedades Nacionales deben, sin embargo,
        conservar una autonomía que les permita actuar siempre de acuerdo con
        los principios del Movimiento.
      </p>
    </div>

    <hr />

    <!-- PRINCIPIO 5 -->
    <div class="principio-item">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        id="Capa_1"
        x="0px"
        y="0px"
        width="90px"
        height="90px"
        viewBox="0 0 300 300"
        xml:space="preserve"
        ><path
          fill-rule="evenodd"
          clip-rule="evenodd"
          fill="#613456"
          d="M149.122,271c-68.672-0.009-124.62-56.662-124.118-125.676  C25.501,76.22,81.723,20.574,150.639,21.002C219.196,21.418,275.111,77.999,275,146.846C274.88,215.224,218.322,271.018,149.122,271  z M205.595,188.635c0-29.476,0-55.929,0-85.075c-14.575,13.532-26.98,25.23-39.631,36.678c-4.675,4.224-4.227,7.577,0.144,11.582  C178.701,163.398,191.141,175.139,205.595,188.635z M92.819,102.467c0,28.603-0.051,52.375,0.042,76.177  c0.028,7.645,3.532,7.926,8.443,3.36c11.05-10.287,21.896-20.81,33.015-31.029c4.07-3.73,3.865-6.646-0.078-10.25  C121.613,129.24,109.149,117.57,92.819,102.467z"
        ></path><path
          fill-rule="evenodd"
          clip-rule="evenodd"
          fill="#FFFFFF"
          d="M135.685,138.224l-39.644-37.059  c-1.352-1.265-3.043-1.908-4.758-2.009v93.673c2.187,0.129,4.41-0.646,6.022-2.371l38.745-41.45  C138.925,145.93,138.762,141.101,135.685,138.224z"
        ></path><path
          fill-rule="evenodd"
          clip-rule="evenodd"
          fill="#FFFFFF"
          d="M162.778,140.018l39.644-37.059  c1.352-1.265,3.043-1.907,4.758-2.009v93.673c-2.187,0.129-4.41-0.646-6.022-2.371l-38.744-41.45  C159.537,147.724,159.7,142.895,162.778,140.018z"
        ></path></svg
      >
      <h3>Voluntariado</h3>
      <p>
        <strong>La Cruz Roja</strong> es un movimiento de socorro voluntario y de
        carácter desinteresado.
      </p>
    </div>

    <hr />

    <!-- PRINCIPIO 6 -->
    <div class="principio-item">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        id="Capa_1"
        x="0px"
        y="0px"
        width="90px"
        height="90px"
        viewBox="0 0 300 300"
        xml:space="preserve"
        ><path
          fill-rule="evenodd"
          clip-rule="evenodd"
          fill="#EDA32B"
          d="M166.195,269.8c-13.113,4.017-26.812,5.854-40.407,4.99  c-24.301-1.545-49.839-9.64-69.484-24.289c-12.149-9.061-23.401-21.252-31.252-34.248C-7.533,162.314,1.333,92.734,53.629,52.495  C126.581-3.66,222.303,31,249.945,113.009c13.168,39.061,4.328,86.139-22.77,117.216C211.326,248.407,189.693,262.601,166.195,269.8  z M64.346,155.984c0.086,8.888,0.616,17.548,4.616,25.907c16.619,34.734,56.157,49.966,89.294,34.059  c13.123-6.3,24.764-16.808,31.495-29.696c10.163-19.457,10.911-45.893,0.019-65.432c-4.792-8.599-16.149-11.261-22.409-1.737  c-3.112,4.739-1.759,10.716,1.341,16.162c10.289,18.076,4.129,41.82-11.643,53.211c-18.65,13.47-39.824,12.593-55.832-2.34  c-9.344-8.716-14.364-21.111-13.193-33.834c0.913-9.945,5.375-21.784,12.401-29.074c3.081-3.196,9.506-7.067,14.238-6.421  c10.132,1.382,9.197,8.831,8.754,18.344c-0.076,1.642-0.129,3.142-0.059,4.364c0.213,3.667,1.538,4.833,6.69-0.166  c2.281-2.209,4.562-4.421,6.84-6.633c8.194-7.95,16.394-15.897,24.714-23.723c4.113-3.875,5.507-7.587,0.866-11.798  c-10.404-9.433-20.74-18.93-31.364-28.112c-3.14-2.71-5.16-4.433-6.362-4.37s-1.588,1.916-1.454,6.358  c0.339,11.444-8.74,18.444-18.572,22.388C77.926,104.209,63.973,126.814,64.346,155.984z"
        ></path></svg
      >
      <h3>Unidad</h3>
      <p>
        En cada país solo puede existir una Sociedad de la Cruz Roja o de la
        Media Luna Roja, que debe ser accesible a todos y extender su acción
        humanitaria a la totalidad del territorio.
      </p>
    </div>

    <hr />

    <!-- PRINCIPIO 7 -->
    <div class="principio-item">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        id="Capa_1"
        x="0px"
        y="0px"
        width="90px"
        height="90px"
        viewBox="0 0 300 300"
        xml:space="preserve"
        ><path
          fill-rule="evenodd"
          clip-rule="evenodd"
          fill="#CD2F71"
          d="M149.676,24.399c69.31,0.137,125.077,55.693,125.323,124.826  c0.242,68.597-56.448,125.324-125.094,125.173c-70.25-0.151-125.317-55.971-124.902-126.59  C25.405,79.143,80.851,24.276,149.676,24.399z M130.111,111.988c0-0.08,0-0.15,0-0.231c11.998,0,23.992-0.087,35.989,0.027  c7.884,0.075,9.343-4.562,9.305-11.253c-0.039-6.429-0.745-11.578-8.905-11.519c-22.427,0.186-44.845,0.28-67.272,0.389  c-8.885,0.044-9.508,5.926-9.508,12.83c-0.012,7.523,3.522,10.081,10.657,9.839C110.279,111.75,120.201,111.988,130.111,111.988z   M209.845,133.825c0-11.483-0.271-22.991,0.087-34.476c0.252-7.855-3.772-9.854-10.591-9.662  c-6.089,0.189-11.788,0.283-11.767,8.686c0.038,22.991,0.116,45.985-0.035,68.979c-0.055,8.999,5.454,9.651,12.42,9.744  c7.469,0.109,10.141-3.104,9.933-10.344C209.581,155.788,209.819,144.806,209.845,133.825z M112.23,165.505  c0-10.491-0.409-21.01,0.121-31.48c0.432-8.717-2.533-12.314-11.58-12.156c-8.123,0.148-11.093,3.1-10.969,11.21  c0.327,21.513,0.277,43.04-0.008,64.562c-0.1,7.823,2.433,11.365,10.79,11.417c8.827,0.058,12.186-3.19,11.725-12.065  C111.755,186.535,112.174,176.01,112.23,165.505z M166.875,208.639c0,0.025,0,0.053,0,0.082c10.973,0,21.964-0.231,32.933,0.095  c7.153,0.19,10.443-2.136,10.183-9.888c-0.215-7.062-0.729-12.375-9.789-12.276c-21.953,0.224-43.918,0.147-65.879,0  c-9.057-0.071-9.607,5.617-9.702,12.571c-0.095,7.907,4.025,9.68,10.888,9.491C145.95,208.417,156.42,208.639,166.875,208.639z"
        ></path><path
          fill-rule="evenodd"
          clip-rule="evenodd"
          fill="#FFFFFF"
          d="M180.847,100.523c0,7.577-6.122,13.72-13.673,13.72h-65.9  c-7.551,0-13.673-6.143-13.673-13.72l0,0c0-7.578,6.122-13.721,13.673-13.721h65.9C174.726,86.803,180.847,92.945,180.847,100.523  L180.847,100.523z"
        ></path><path
          fill-rule="evenodd"
          clip-rule="evenodd"
          fill="#FFFFFF"
          d="M213.797,199.019c0,7.577-6.122,13.72-13.673,13.72h-65.9  c-7.551,0-13.673-6.143-13.673-13.72l0,0c0-7.578,6.122-13.721,13.673-13.721h65.9C207.676,185.298,213.797,191.44,213.797,199.019  L213.797,199.019z"
        ></path><path
          fill-rule="evenodd"
          clip-rule="evenodd"
          fill="#FFFFFF"
          d="M198.78,86.803c7.55,0,13.672,6.142,13.672,13.72v66.129  c0,7.578-6.122,13.72-13.672,13.72l0,0c-7.552,0-13.674-6.142-13.674-13.72v-66.129C185.106,92.944,191.228,86.803,198.78,86.803  L198.78,86.803z"
        ></path><path
          fill-rule="evenodd"
          clip-rule="evenodd"
          fill="#FFFFFF"
          d="M101.275,119.17c7.551,0,13.672,6.142,13.672,13.72v66.129  c0,7.578-6.122,13.72-13.672,13.72l0,0c-7.552,0-13.674-6.142-13.674-13.72V132.89C87.601,125.312,93.723,119.17,101.275,119.17  L101.275,119.17z"
        ></path></svg
      >
      <h3>Universalidad</h3>
      <p>
        El Movimiento Internacional de la Cruz Roja y de la Media Luna Roja, en
        cuyo seno todas las Sociedades tienen los mismos derechos y el deber de
        ayudarse mutuamente, es universal.
      </p>
    </div>
  </div>

  <style>
    .principios-seccion {
      font-family: Arial, sans-serif;
      padding: 50px 20px;
      background-color: #fdfbfb;
    }
    .principios-seccion h2 {
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }

    .principios-banner {
      background: url("/public/mision.jpg") center/cover no-repeat;
      color: white;
      text-align: center;
      padding: 400px 20px 60px;
      height: 400px;
      width: 100%;
    }

    .principios-banner h2 {
      font-size: 36px;
      margin: 0;
    }

    .principios-banner .linea {
      width: 60px;
      height: 3px;
      background-color: red;
      margin: 15px auto 0;
    }

    .principios-intro {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 1200px;
      margin: 40px auto;
      gap: 20px;
    }

    .principios-intro p {
      flex: 1 1 400px;
      font-size: 18px;
      line-height: 1.6;
    }

    .principios-intro img {
      flex: 1 1 300px;
      max-width: 400px;
      border-radius: 0 0 150px 0;
    }

    .principio-item {
      max-width: 900px;
      margin: 50px auto;
      text-align: left;
    }

    .principio-item svg {
      display: block;
      margin-bottom: 10px;
    }

    .principio-item h3 {
      color: red;
      font-size: 26px;
      margin: 10px 0;
    }

    .principio-item p {
      font-size: 18px;
      line-height: 1.6;
    }

    hr {
      border: none;
      border-top: 1px solid #ddd;
      max-width: 900px;
      margin: 40px auto;
    }

    @media (max-width: 768px) {
      .principios-intro {
        flex-direction: column;
        text-align: center;
      }

      .principios-intro p {
        font-size: 16px;
        text-align: justify;
        margin: 1px 0;
        margin-bottom: -145px;
      }

      .principios-intro img {
        max-width: 100%;
      }

      .principio-item {
        padding: 0 10px;
      }
      .principio-item p {
        text-align: justify;
      }
    }
  </style>
</section>
